body{
    margin: 0;
    padding: 0;
    /* background: #0D47A1; */
    /* background: #607D8B; */
    background: rgba(5, 28, 64, 100%);
    color: white;
}

.box{
    width: 60%;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(5, 28, 64, 100%);
    text-align: center;
    border-radius: 20px;
    border: 3px solid #FFCA28;
}



.box h1{
    color: #FFCA28;
    text-transform: uppercase;
    /* background-color: #FFCA28; */
    border-radius: 50px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.25s;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: #E3F2FD;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 50%;
    outline: none;
    color: black;
    font-weight: bolder;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 80%;
    /* background: black; */
    border-color: #FFCA28;
}

.box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box button[type = "submit"]:hover{
    background: #FFCA28;
    font-weight: bolder;
    box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24), 0 17px 50px 0 rgba(255,255,255,0.24);
}
.box button[type = "submit"]:active{
    background-color: rgba(255, 255, 255,10%);
    border: 3px solid #FFCA28;
    color: white;
    box-shadow: 0 5px #FFCA28;
    transform: translateY(4px);
}

input::-webkit-input-placeholder {
    color: black;
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: black;
    font-size: 11px;
    -webkit-transform: translateY(-15px);
    /* transform: translate(1px, -30px); */
    visibility: visible !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}