{% extends 'template.html' %} {% block conteudo %}
<form action="{{ url_for('novo_usuario') }}" method="POST">

            <label>Nome para Login: </label>
            <input class="form-control" type="text" name="id" required>

            <label>Nome Completo:</label>
            <input class="form-control" type="text" name="nome" required>

            <label>Senha:</label>
            <input class="form-control" type="password" name="senha" required>
            <label>Repita a senha:</label>
            <input class="form-control" type="password" name="senha_conf" required>
            <br>
            <label>Função:</label>
            <select name="cargo" class="form-control">
                {% for i in cargos %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
                <!-- <option value="guarda">Guarda</option>
                <option value="analista">Analista</option> -->
            </select>
            <br>
            <button class="btn btn-success form-control" type="submit">Entrar</button>

        </form>
{% endblock %}
