<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}">

    </head>

    <body>

        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul id='messages' class="list-unstyled">
                {% for message in messages %}
                <li class="alert alert-success">
                    {{ message }}
                </li>
            </ul>
            {% endfor %} {% endif %} {% endwith %}

            {% if session['usuario_logado'] != None and session['usuario_logado'] %}
                <h1 style="text-align: center">{{ session['usuario_cargo'] }}</h1>
                <p style="text-align: center">Logado como : {{session['usuario_nome']}}</p><br>
                <a href="{{ url_for('logout') }}" class="btn-primary btn form-control">Logout</a><br><br>
            {% endif %}
            <br>
        {% block conteudo %}{% endblock %}

        </div>
    </body>

</html>