{% extends 'template.html' %} {% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Fornecedor</th>
                <th>CCO</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{request.form['placa']}}</td>
                <td>{{request.form['fornecedor']}}</td>
                <td>{{request.form['cco']}}</td>
                <td style="text-align: center; background-color: #d9534f; color: white; font-weight: bolder">Reprovado</td>

            </tr>
        </tbody>
    </table>
        <table class="table table-striped table-responsive table-bordered">
            <h2 style="text-align: center;">Chamado Atual</h2>
            <a href="{{ url_for('index') }}" class="btn btn-primary form-control">Voltar</a>
            <br>
            <br>
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Local</th>
                    <th>Redirecionar</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AAA-9999</td>
                    <td>Gate 2</td>
                    <td>Gate X</td>
                    <td class="btn-danger" style="text-align: center; font-weight: bold;">Em Andamento</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <form action="{{ url_for('acao_guarda') }}" method="POST">
            <input type="hidden" name="id" value="{{ request.form['id'] }}">
            <input type="hidden" name="id_carga" value="{{ request.form['id_carga'] }}">
            <button class="btn btn-success form-control">Finalizar</button>
        </form>
        <form action="#" method="POST">
            <input type="hidden" value="id_x_finalizado">
            <button class="btn btn-danger form-control">Problema</button>
        </form>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script>
            
            let nome = document.querySelector('#usuario-nome-JS').textContent;
                let estado_guarda = document.querySelector('#estado');
                window.addEventListener('click', function () {
                    console.log("ENTREI POW");
                    
                    let xhr = new XMLHttpRequest();
                    xhr.open("GET", `http://localhost:5000/guarda/${nome}/0`);

                    xhr.addEventListener('load', () => {
                        console.log("entrei");

                        if (xhr.status == 200) {
                            let resultados = JSON.parse(xhr.responseText);
                            if(resultados != "A caminho"){
                                console.log('Trocando status');
                                
                                var socket = io.connect('http://127.0.0.1:5000/estadoGuarda');
                                socket.emit('username', nome);
                                socket.emit('estado', { 'user': nome, 'msg': 3 });

                            }
                        }
                    });
                    xhr.send();
                    console.log('Hello');
                }());
                
        </script>

{% endblock %}