<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='site.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">

</head>

<body>

    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul id='messages' class="list-unstyled">
            {% for message in messages %}
            <li class="flash-messages">
                {{ message }}
            </li>
        </ul>
        {% endfor %} {% endif %} {% endwith %}

        {% if session['usuario_logado'] != None and session['usuario_logado'] %}
        <h1 style="text-align: center">{{ session['usuario_cargo'] }}</h1>
        <p style="text-align: center">Logado como : {{session['usuario_nome']}}</p><br>
        <a href="{{ url_for('logout') }}" id="btn_logout" class="btn-primary btn form-control">Logout</a><br><br>
        {% endif %}
        <br>

        <div id="janela-chat">
            <ol class="chat">
                <div class="menu">
                    <!-- <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div> -->
                    <div class="name">Alex</div>
                    <div class="last">18:09</div>
                </div>
                <li class="other">
                    <div class="msg">
                        <p>Hola!</p>
                        <p>Te vienes a cenar al centro?
                        </p>
                        <time>20:17</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Puff...</p>
                        <p>Aún estoy haciendo el contexto de Góngora...
                        </p>
                        <p>Mejor otro día</p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>Qué contexto de Góngora?
                        </p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>El que mandó Marialu</p>
                        <p>Es para mañana...</p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>
                        </p>
                        <p>Pásamelo!
                        </p>
                        <time>20:18</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <time>20:19</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>Gracias!
                        </p>
                        <time>20:20</time>
                    </div>
                </li>
                <div class="day">Hoy</div>
                <li class="self">
                    <div class="msg">
                        <p>Te apetece jugar a Minecraft?</p>
                        <time>18:03</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>Venga va, hace ya mucho que no juego...</p>
                        <time>18:07</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Ehh, me crashea el Launcher...
                            <emoji class="cryalot" />
                        </p>
                        <time>18:08</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>
                            HAHAHAHA
                        </p>
                        <time>18:08</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Es broma</p>
                        <p>Ataque Moai!</p>
                        <time>18:09</time>
                    </div>
                </li>
                <li class="other">
                    <div class="msg">
                        <p>Copón</p>
                        <p>
                            <emoji class="funny" />
                        </p>
                        <time>18:08</time>
                    </div>
                </li>
                <li class="self">
                    <div class="msg">
                        <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
                        <p><a href="https://codepen.io/Varo/pen/YPmwpQ" target="parent">Chat UI 2.0</a></p>
                        <time>18:09</time>
                    </div>
                </li>
            </ol>
            <input class="textarea" type="text" placeholder="Type here!" />
        </div>

</div>
</body>
</html>

