{% extends 'template.html' %} {% block conteudo %}
        <h2 style="text-align: center;">Analise Manual</h2>
        <a class="btn btn-primary form-control" href="{{ url_for('index') }}">Voltar</a><br>
        <br>
        {% if arquivos[1] %}
        <form action="#" method="POST">
            
            <table class="table table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Grão</th>
                        <th>Umidade</th>
                        <th>Temperatura</th>
                        <th>Hora</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- arquivos[tupla de tuplas do banco][a tupla respectiva][item] -->
                        <input type="hidden" name="grao" value="{{ arquivos[0][0][0] }}"><td>{{ arquivos[0][0][0] }}</td>
                        <input type="hidden" name="umidade" value="{{ arquivos[0][0][1] }}"><td>{{ arquivos[0][0][1] }}%</td>
                        <input type="hidden" name="temperatura" value="{{ arquivos[0][0][2] }}"><td>{{ arquivos[0][0][2] }} C</td>
                        <input type="hidden" name="hora" value="{{ arquivos[0][0][3] }}"><td>{{ arquivos[0][0][3] }}</td>
                        <input type="hidden" name="data" value="{{ arquivos[0][0][4] }}"><td>{{ arquivos[0][0][4] }}</td>
                    </tr>
                </tbody>
            </table>
            {% for dado in arquivos[1] %}
                    <label>{{dado[0]}}</label>
                    <input class="form-control" type="text" name="{{dado[0]}}" required>
            {% endfor %}
            
            <br>

            <label>Destino</label>
            <select name="cargo" class="form-control">
                <option value="#">Gate 1</option>
                <option value="#">Gate 2</option>
                <option value="#">Gate 3</option>
            </select>
            <br>
            <button type="submit" class="btn btn-success form-control">Enviar</button>
        </form>
        {% else %}
        Não foi possivel realizar a ação!
        <br><br>
        {% endif %}
        Maquina
        {{ arquivos[0] }}
        <br><br>
        Dados do Grao
        {{ arquivos[1] }}
{% endblock %}