{% extends 'template.html' %} {% block conteudo %}

<div style="text-align: center; font-weight: bolder" id="estado" class="form-control">Aguardando</div>
    <div id="botoes-decisao-JS">
        
        <button class="form-control btn btn-danger" id="estado_1">Ocupado</button>
        <button id="estado_2" class="form-control btn btn-success">Disponivel</button>
        
    </div>
    <div id="div-tabela-chamados-guarda-JS">
        <h2 style="text-align: center; background-color: #337ab7; color: white"><strong>Nenhum chamado do CCO até o
                momento</strong></h2>
    </div>
    <div id="div-tabela-chamados-guarda-all-JS">
        <h2 style="text-align: center; background-color: #337ab7; color: white"><strong>Nenhum chamado de Escopo Global até
                o
                momento</strong></h2>
    </div>
    <br>
        <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>


<script src="{{url_for('static', filename='js/Definicoes.js')}}"></script>
<script src="{{url_for('static', filename='js/tabelaGuarda.js')}}"></script>
<script src="{{url_for('static', filename='js/Tabelas.js')}}"></script>
<script src="{{url_for('static', filename='js/IndexGuarda.js')}}"></script>
    <script>
        let tabelaGuardaIndividual = new TabelasUsuarios('chamados_guarda', ['placa', 'fornecedor', 'requisição'],1);
        let tabelaGuardaGlobal = new TabelasUsuarios('chamados_guarda_all', ['placa', 'fornecedor', 'requisição']);
        
    </script>
{% endblock %}