{% extends 'template.html' %} {% block conteudo %}
        {{chamadas_cco}}
        {% if chamadas_cco %}
        <table class="table table-bordered table-responsive table-striped">
            <label>Reprovas da Analise</label>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grão</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for chamada in chamadas_cco %}
                <tr>
                    <td>{{chamada[0]}}</td>
                    <td>{{chamada[1]}}</td>
                    <td>
                        <form action="{{url_for('cco_form')}}" method="POST">
                            <input type="hidden" name="id_carga" value="{{chamada[0]}}">
                        <button class="btn btn-danger form-control" type="submit">Verificar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%endif%}

        <!--
        <table class="table table-bordered table-responsive table-striped">
            <label>Reprovas da Analise</label>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grão</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>002</td>
                    <td>Soja</td>
                    <td>
                        <a class="btn btn-danger form-control" href="{{url_for('cco_form')}}">Verificar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        --!>
             {% if ultimas_analises %}
            <table class="table table-striped table-responsive table-bordered">
                <label>Situação das Ultimas análises</label>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Carga</th>
                        <th>Grão</th>
                        <th>N Analises</th>
                        <th>Guarda</th>
                        <th>Estado</th>
                        <th>Decisão</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in ultimas_analises %}
                    <tr>
                        <td>{{r[0]}}</td>
                        <td>{{r[6]}}</td>
                        <td>{{r[7]}}</td>
                        <td>{{r[1]}}</td>
                        {% if r[3] %}
                            <td>Sim</td>
                        {% else %}
                            <td>Não</td>
                        {% endif %}
                        <td>{{r[5]}}</td>
                        <td>{{r[2]}}</td>
                        <td>{{r[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        <table class="table table-striped table-responsive table-bordered">
            <thead>
                <label>Requisições do Posto de Analise Finalizadas</label>
                <tr>
                    <th>ID</th>
                    <th>Grão</th>
                    <th>Peso</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Circunstância</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Soja</td>
                    <td>10Kg</td>
                    <td>10/10/2019</td>
                    <td>14:30</td>
                    <td>Reprova Analise</td>
                    <td>Aguardando CCO</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Soja</td>
                    <td>10Kg</td>
                    <td>10/10/2019</td>
                    <td>14:34</td>
                    <td>Nova Analise</td>
                    <td>Aguardando Analise</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Soja</td>
                    <td>10Kg</td>
                    <td>10/10/2019</td>
                    <td>14:39</td>
                    <td>Reprova</td>
                    <td>Aguardando CCO</td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Soja</td>
                    <td>10Kg</td>
                    <td>10/10/2019</td>
                    <td>14:39</td>
                    <td>Reprova</td>
                    <td>Finalizado</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary form-control" href="#">Ver Mais</a>
        <br>
        <br>
        <a class="btn btn-danger form-control" id="btn_controle_usuarios" href="{{ url_for('controle_funcionarios') }}">Controle Funcionarios</a>
        <br>

{% endblock %}
