{% extends 'template.html' %} {% block conteudo %}
            {% if analises %}
            <table class="table table-bordered table-responsive table-striped">
                <label>Retornos da Maquina de Analise</label>
                {{analises}}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Grão</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for analise in analises %}
                    <tr>
                        <td>{{ analise[0] }}</td>
                        <td>{{ analise[1] }}</td>
                        <td>
                            <form action="{{ url_for('analise_form') }}" method="POST">
                                <input type="hidden" name="id_carga_fk" value="{{ analise[0] }}">
                                {% if analise[2] == 'Analista' %}
                                    <button class="btn btn-primary form-control">Continuar Analise</button>
                                {% else %}
                                    <button class="btn btn-success form-control">Iniciar Análise</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if nova_analise %}
            <table class="table table-bordered table-responsive table-striped">
                <label>Pedidos Nova Analise CCO</label>
                {{nova_analise}}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Grão</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for analise in nova_analise %}
                    <tr>
                        <td>{{ analise[0] }}</td>
                        <td>{{ analise[1] }}</td>
                        <td>
                            <form action="{{ url_for('analise_form') }}" method="POST">
                                <input type="hidden" name="id_carga_fk" value="{{ analise[0] }}">
                                <input type="hidden" name="nova_analise" value="{%if pedido %}1{%else%}0{%endif%}">
                                {% if analise[2] == 'Nova Analise' %}
                                    <button class="btn btn-primary form-control">Continuar Analise</button>
                                {% else %}
                                    <button class="btn btn-success form-control">Iniciar Análise</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if ultimas_analises %}
            <table class="table table-striped table-responsive table-bordered">
                <label>Situação das Ultimas análises</label>
                <thead>
                    <tr>
                        <th>ID Carga</th>
                        <th>Grão</th>
                        <th>Estado</th>
                        <th>Decisão</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in ultimas_analises %}
                    <tr>
                        <td>{{r[6]}}</td>
                        <td>{{r[7]}}</td>
                        <td>{{r[5]}}</td>
                        <td>{{r[2]}}</td>
                        <td>{{r[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <table class="table table-striped table-responsive table-bordered">
                <thead>
                    <label>Requisições CCO Finalizadas</label>
                    <tr>
                        <th>ID</th>
                        <th>Grão</th>
                        <th>Peso</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Circunstância</th>
                        <th>Situação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>001</td>
                        <td>Soja</td>
                        <td>10Kg</td>
                        <td>10/10/2019</td>
                        <td>14:30</td>
                        <td>Reprova Analise</td>
                        <td>Aguardando CCO</td>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>Soja</td>
                        <td>10Kg</td>
                        <td>10/10/2019</td>
                        <td>14:34</td>
                        <td>Nova Analise</td>
                        <td>Aguardando Analise</td>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>Soja</td>
                        <td>10Kg</td>
                        <td>10/10/2019</td>
                        <td>14:39</td>
                        <td>Reprova</td>
                        <td>Aguardando CCO</td>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>Soja</td>
                        <td>10Kg</td>
                        <td>10/10/2019</td>
                        <td>14:39</td>
                        <td>Reprova</td>
                        <td>Finalizado</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary form-control" href="#">Ver Mais</a><br><br>
{% endblock %}
