{% extends 'template.html' %} {% block conteudo %}
        <div id="div-tabela-chamados-cco-JS"></div>
<!-- {{chamadas_cco}}
        {% if chamadas_cco %}
        <table class="table table-bordered table-responsive table-striped">
            <label>Reprovas da Analise</label>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grão</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for chamada in chamadas_cco %}
                <tr>
                    <td>{{chamada[0]}}</td>
                    <td>{{chamada[1]}}</td>
                    <td>
                        <form action="{{url_for('cco_form')}}" method="POST">
                            <input type="hidden" name="id_carga" value="{{chamada[0]}}">
                        <button class="btn btn-danger form-control" type="submit">Verificar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%endif%} -->
        <!-- <div id="div-tabela-chamados-cco-JS"></div>
        <div id="div-tabela-ultimas-analises-JS"></div> -->

        <!--
        <table class="table table-bordered table-responsive table-striped">
            <label>Reprovas da Analise</label>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Grão</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>002</td>
                    <td>Soja</td>
                    <td>
                        <a class="btn btn-danger form-control" href="{{url_for('cco_form')}}">Verificar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        -->
             {% if ultimas_analises %}
            <table class="table table-striped table-responsive table-bordered">
                <label>Situação das Ultimas análises</label>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Carga</th>
                        <th>Grão</th>
                        <th>N Analises</th>
                        <th>Guarda</th>
                        <th>Estado</th>
                        <th>Decisão</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in ultimas_analises %}
                    <tr>
                        <td>{{r[0]}}</td>
                        <td>{{r[6]}}</td>
                        <td>{{r[7]}}</td>
                        <td>{{r[1]}}</td>
                        {% if r[3] %}
                            <td>Sim</td>
                        {% else %}
                            <td>Não</td>
                        {% endif %}
                        <td>{{r[5]}}</td>
                        <td>{{r[2]}}</td>
                        <td>{{r[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        <a class="btn btn-primary form-control" href="#">Ver Mais</a>
        <br>
        <br>
        <a class="btn btn-danger form-control" id="btn_controle_usuarios" href="{{ url_for('controle_funcionarios') }}">Controle Funcionarios</a>
        <br>


    <script src="{{url_for('static', filename='js/Definicoes.js')}}"></script>
    <script src="{{url_for('static', filename='js/tabelaPedidos.js')}}"></script>
    <script src="{{url_for('static', filename='js/Tabelas.js')}}"></script>
    <script>
        let tabelaCCO = new TabelasUsuarios('chamados_cco', ['id', 'grao']);
    </script>
{% endblock %}
