{% extends 'template.html' %} {% block conteudo %}
    <div class="tela hide">
        <div id="selecao-processo-JS"></div>
        <div class="processo">
            <h2>OCR</h2>
        </div>
        <div class="processo">
            <h2>Maquina</h2>
        </div>
        <div class="processo">
            <h2>Analise Maquina</h2>
        </div>
        <div class="processo">
            <h2>Nova Analise</h2>
        </div>
        <div class="processo">
            <h2>Pedido CCO</h2>
        </div>
        <div class="processo">
            <h2>Analista</h2>
            <p>Profissional responsável por examinar o granel e relatar se está de acordo ou não com os paramêtros do
                terminal</p>
        </div>
        <div class="processo">
            <h2>CCO</h2>
            <p>O Centro de Controle Operacional é responsável porcontrolar e supervisionar todas as operações dentro do
                terminal</p>
        </div>
        <div class="processo">
            <h2>Guarda</h2>
            <p>Profissional que tem como uma das responsabilidades fazer a retirada dos caminhões do ponto de analise,
                caso a carga for rejeitada</p>
        </div>
    </div>
    <div id="div-tabela-prototype-JS" class="hide"></div>
    <audio class="hide" src="feedback" preload="auto" controls></audio>
<div id="div-tabela-chamados-cco-JS"></div>

             {% if ultimas_analises %}
            <table class="table table-responsive">
                <label>Situação das Ultimas análises</label>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Carga</th>
                        <th>Grão</th>
                        <th>N Analises</th>
                        <th>Guarda</th>
                        <th>Estado</th>
                        <th>Decisão</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in ultimas_analises %}
                    <tr>
                        <td>{{r[0]}}</td>
                        <td>{{r[6]}}</td>
                        <td>{{r[7]}}</td>
                        <td>{{r[1]}}</td>
                        {% if r[3]|length > 1 %}
                            <td>Sim</td>
                        {% else %}
                            <td>Não</td>
                        {% endif %}
                        <td>{{r[5]}}</td>
                        <td>{{r[2]}}</td>
                        <td>{{r[4]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        <a class="btn btn-danger form-control" id="btn_controle_usuarios" href="{{ url_for('controle_funcionarios') }}">Controle Funcionarios</a>
        <br>


    <script src="{{url_for('static', filename='js/Definicoes.js')}}"></script>
    <script src="{{url_for('static', filename='js/tabelaPedidos.js')}}"></script>
    <script src="{{url_for('static', filename='js/Tabelas.js')}}"></script>
    <script>
        let tabelaCCO = new TabelasUsuarios('chamados_cco', ['id', 'grao']);
    </script>

    <script src="{{url_for('static', filename='js/Prototype.js')}}"></script>
    <script src="{{url_for('static', filename='js/EstadoPrototype.js')}}"></script>
    <script>
        let tabela = new TabelasUsuarios('prototype', ['id', 'grao', 'destino', 'estado']);
      // var v = document.getElementsByTagName("audio")[0];
      // v.play();
    </script>
{% endblock %}
