<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul id='messages' class="list-unstyled">
            {% for message in messages %}
            <li class="alert alert-success">
                {{ message }}
            </li>
        </ul>
        {% endfor %} {% endif %} {% endwith %}
    <form class="box" action="{{ url_for('autenticar') }}" method="POST" style="padding: 1em;">
        <h1 style="text-align: center">Smart Message</h1>
        <input type="text" placeholder="Seu nome para login" name="usuario" required>
        <input type="password" placeholder="Sua senha" name="senha" required>
        <button type="submit">Entrar</button>
    </form>
<br><br>
<!-- <ul>
    <li><strong>BUG encontrado na hora de trocar do MySQL para SQL Alchemy, o mesmo aparece situações relacionadas ao login!</strong></li>
</ul>
<br><br>
<ul>
                <h3 style="text-align: center">Histórico de Atualizações</h3><br>
                <li>15/07/2018:
                    <ul>
                        <li>Fluxograma</li>
                        <li>Paginas de HTML estático:
                            <ul>
                                <li>Analise: Index, form</li>
                                <li>CCO: Index, form, Reprova</li>
                                <li>Guarda: Index, chamados</li>
                                <li>Login</li>
                            </ul>
                        </li>
                        <li>Bootstrap no CSS</li>
                    </ul>
                </li>
                <br>
                </li>
                <li>17/07/2018:
                    <ul>
                        <li>Integração com Flask</li>
                        <li>Criação da tabela de usuarios</li>
                        <li>Abstração do banco</li>
                        <li>Autenticação</li>
                        <li>Nivel de acesso com base nos cargos</li>
                        <li>Blocos Flask para diminuir código HTML</li>
                    </ul>
                </li>
                <br>
                <li>
                    18/07/2018:
                    <ul>
                        <li>Criação do catalogo de features/Histórico de Atualizações na tela de Login</li>
                        <li>Botões de Logout e Voltar</li>
                        <li>Fluxograma das Tabelas do banco de dados</li>
                    </ul>
                </li>
                <br>
                <li>
                27/07/2018:
                    <ul>
                        <li>Inicio do Planejamento e Estudo do Banco com MySQL</li>
                        <li>Transição do SQL ALCHEMY para MySQL</li>
                        <li>Possibilidade de alterar SQL ALCHEMY para MySQL a qualquer momento pelo back-end</li>
                        <li>Inicio do planejamento de registros de usuarios através da interface do CCO</li>
                    </ul>
                </li>
                <br>
                <li>
                    01/08/2018:
                    <ul>
                        <li>Iniciando interação da tela de registro com o banco</li>
                        <li>Options dos cargos interagindo com banco MySQL</li>
                        <li>Bug do Login da Analise de Grãos corrigido</li>
                    </ul>
                </li>
                <li>
                    02/08/2018:
                    <ul>
                      <li>Tela de Registros pronta e funcionando com o banco de dados</li>
                      <li>Tela de Controle de Funcionarios pronta e interagindo com o banco</li>
                        <li>Tela de Registro e Controle de usuarios integradas entre si e falta implementar acesso restrito somente ao CCO</li>
                    </ul>
                </li>
                <li>
                    05/08/2018:
                    <ul>
                        <li>Novo esquema de tabelas</li>
                    </ul>
                </li>
                <li>
                    07/08/2018:
                    <ul>
                        <li>Log de Usuarios Pronto e interagindo com Banco de dados</li>
                    </ul>
                </li>
                <li>
                    15/08/2018:
                    <ul>
                        <li>Inicio do Aplicativo do App Inventor que irá testas o protótipo</li>
                    </ul>
                </li>
                <li>
                    16/08/2018:
                    <ul>
                        <li>Organizando o Projeto seguindo boas práticas de projeto e código</li>
                        <li>Exclusão de arquivos não utilizados, e de toda a interação com SQL Alchemy</li>
                        <li>Inserção de Doc Strings</li>
                        <li>Divisão do Projeto em Protótipo e Software</li>
                        <li>Correção do Bug na ordem de exibição do log, agora exibe os ultimos seis registro de logs</li>
                    </ul>
                </li>
                <li>
                    18/08/2018:
                    <ul>
                        <li>Testes de integraçao com NodeMCU via POST e JSON</li>
                        <li>Teste da Biblioteca Requests</li>
                        <li>Estudo do I2C para expandir as portas do Arduino</li>
                    </ul>
                </li>
                <li>
                    19/08/2018:
                    <ul>
                        <li>Refatoração de Código</li>
                        <li>Replanejamento do banco de dados, priorizando otimizacao e menos complexidade, usando mais o poder do MySQL</li>
                        <li>Dump Parelelo ao antigo do banco de Dados</li>
                        <li>Novas tabelas: Analise_Manual, carac_graos</li>
                        <li>Inutilização das tabelas Milho e Soja</li>
                        <li>Remoção de todas as conversoes de tuplas para dicionarios ou lista</li>
                        <li>Uso dos dados vindos como tupla, sem conversoes, aumentando o processamento e diminuindo a complexidade</li>
                        <li>Estrátegia Pronta para finalizar analise do Analista de Grãos</li>
                        <li>Exclusão de comentarios inuteis no código</li>
                        <li>Edição de algumas DOCStrings</li>
                        <li>Alteração na função de alguns métodos da classe Analise</li>
                    </ul>
                </li>
                <li>
                    21/08/2018:
                    <ul>
                        <li>Correção de bug</li>
                        <li>Criação de alguns novos métodos e da view de envio da analise</li>
                        <li>Mais interações do software com a tabela analise_manual e info_cargas</li>
                        <li>Atualização do estado da analise</li>
                        <li>Inicio da implementação do envio da mesma</li>
                        
                    </ul>
                </li>
                <li>
                    23/08/2018:
                    <ul>
                        <li>Método Analisar graos funcional, porem desprezando analise da maquina</li>
                        <li>Encaminhamento dos logs de ultimas analises para CCO e Analista</li>
                        <li><strong>Situação de Aprovado na interação do Analista COMPLETA e FUNCIONA</strong></li>
                        <li>Nova tabela criada no BD, logs_analise</li>
                        <li>5 novos métodos na Classe Analise. PS: POSSIVEL REFATORAÇÃO</li>
                        <li>Ciclo do Analista quase completo, falta fazer a situação de Reprova</li>
                        <li>Tudo pronto para iniciar a primeira interação do CCO com a Carga</li>
                        <li>Novo Dump do Banco de Dados</li>
                        <li>Index do Analista e CCO com a Tabela Ultimas analises interagindo com o Banco</li>
                        <li>Tentativa de passar a situação da carga para o Arduino</li>
                    </ul>
                </li>
                <li>
                    28/08/2018:
                    <ul>
                        <li>Mais dados no form do CCO</li>
                        <li>Dados sendo enviados para o Reprova CCO</li>
                        <li>Inicio da organização da distribuição dos dados para o CCO</li>
                    </ul>
                </li>
                <li>
                    31/08/2018:
                    <ul>
                        <li>Exibição dos Dados do Grão junto com os dados da Analise Manual na interface do CCO</li>
                    </ul>
                </li>
                <li>
                    01/09/2018:
                    <ul>
                        <li>Inserção dos primeiros arquivos JS para utilizar Ajax</li>
                    </ul>
                </li>
                <li>
                    02/09/2018:
                    <ul>
                        <li>Correção de bug na inserção dos dados da analise manual atraves do metodo analisar_graos</li>
                        <li>Primeiro uso de Ajax na tela de Reprova do CCO</li>
                    </ul>
                </li>
                <li>
                    07/09/2018:
                    <ul>
                        <li>Novos métodos de interação com a tabela chamados_guarda</li>
                        <li>Dados da tabela chamado_guarda sendo exibidos no index do Guarda</li>
                        <li>Carregamento dinamico com Ajax das options do select da tela de reprova do CCO</li>
                        <li>BUG: Quando o guarda se desloga o nome dele não sai da lista</li>
                    </ul>
                </li>
                <li>
                    16/09/2018:
                    <ul>
                        PS:CRIAR LOGS DE AÇÕES DE USUARIOS AS AÇÕES DO GUARDA, CCO E ANALISTA <strong>PLANEJAR</strong>
                        <li>Finalizado a parte basica do ciclo de reprova</li>
                    </ul>
                </li>
                <li>
                    17/09/2018:
                    <ul>
                        <li>Finalizado a parte basica do ciclo de aprova</li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li>
                    20/09/2018 - 22/09/2018:
                    <ul>
                        <li>Finalizado o ciclo de Nova Analise</li>
                        <li>Finalizada a parte funcional do Projeto</li>
                        <li></li>
                    </ul>
                </li>
                <li>
                    26/09/2018:
                    <ul>
                        <li>Organização dos elementos de Analise exibidos para o CCO</li>
                    </ul>
                </li>
                <li>
                    02/10/2018:
                    <ul>
                        <li>Objeto de exibição de status dos usuarios JS pronto</li>
                        <li>Controle Usuarios carregando status dos usuarios dinamicamente</li>
                    </ul>
                </li>
                <li>
                    10/10/2018:
                    <ul>
                        <li>Parte funcional do Protótipo pronta</li>
                    </ul>
                </li>
                <li>
                    16/10/2018:
                    <ul>
                        <li>Parte funcional do Protótipo pronta</li>
                    </ul>
                </li>
                <li>
                    20/10/2018 e 21/10/2018:
                    <ul>
                        <li>Dados sendo carregados dinamicamente nas tabelas de Pedidos</li>
                    </ul>
                </li>
                <li>
                    27/10/2018:
                    <ul>
                        <li>Nova estilo para o login</li>
                        <li>Novo estilo para as tabelas</li>
                        <li>Mensagem flash de feedback para o Analista</li>
                        <li>Estilo da borda das divs do form do CCO indicam resultado da analise de cada caracteristica do grao</li>
                        
                        <li></li>
                        <li></li>
                    </ul>
                </li>
            </ul><br><br>
    -->
    </body>
</html> 
