<html>
    <input name="nome" type="hidden" value="{{ nome }}">
<script src="/static/js/socketio.js"></script>
<script src="/static/js/jquery.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        
        let nome = document.getElementsByName('nome')[0].value
        var socket = io.connect('http://127.0.0.1:5000/tocar_audio');
        socket.emit('username', nome);
        socket.emit('estado_pergunta', 'GOGOGO');


        socket.on('estado_resposta', function (msg) {

            console.log(`RESPOSTA SERVIDOR ${msg}`);

        });
    });

</script>
</html>